// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@800;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.centered-hr {
    width: 90%; 
    margin: 0 auto; 
    border-top: 2px solid #3f9964; 
}

.home-title {
    margin: 180px auto 83px;
}

.font-faustina {
    font-family: 'Faustina', serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-dark-green {
    color: #5F725F;
}

.text-light-green {
    color: #acc4ae;

}

.section-margin {
    margin: 180px auto 83px;
}