// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@800;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bg-color: #222;
$margin: 20px;

.centered-hr {
    width: 90%; 
    margin: 0 auto; 
    border-top: 2px solid #3f9964; 
}

.home-title {
    margin: 145px auto 75px;
}

.font-faustina {
    font-family: 'Faustina', serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-londrina-outline {
    font-family: 'Londrina Outline', cursive;
}

.text-dark-green {
    color: #526754;
}

.text-light-green {
    color: #ACC5B5;
}

.text-light-grey {
    color: #c6c5c5;
}

.section-margin {
    margin: 180px auto;
}

.mt-6 {
    margin-top: 4rem;
}

.bg-dark-green {
    background-color: #5F725F;
}

.bg-dark-green:hover {
    background-color: #d1d1d1;
}

.bg-light-green {
    background-color: #E2EFEB;
}

.bg-light-green:hover {
    background-color: #e2e9e7;
}

.wrapper {
	position: relative;
	
	// Gradient side fade

	&:before,
	&:after {
		position: absolute;
		top: 0;
		z-index: 1;

		content: "";
		display: block;
		width: $margin;
		height: 100%;
	}
	
	&:before {
		left: 0;
		background: linear-gradient(90deg, $bg-color, transparent);
	}
	
	&:after {
		right: 0;
		background: linear-gradient(-90deg, $bg-color, transparent);
	}
}

.items {
	position: relative;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	cursor: pointer;
	
	&.active {
		cursor: grab;
	}
}

.item {
	display: inline-block;
	margin-left: $margin;
	user-select: none;

	background: tomato;
	width: 50%;
	height: 130px;
	color: $bg-color;
	font-size: 33px;
	font-weight: bold;
	line-height: 130px;
	
	&:last-child {
		margin-right: $margin;
	}
}

@media screen and (min-width: 500px) {

	.item {
		width: 33%;	
	}
}

@media screen and (min-width: 800px) {

	.item {
		width: 25%;	
	}
}

@media screen and (min-width: 1200px) {
	
	.wrapper {
		margin-left: -$margin;
	}

	.item {
		width: 20%;	
	}
}
