// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.centered-hr {
    width: 90%; 
    margin: 0 auto; 
    border-top: 1px solid #3f9964; 
}